body{
	background: url(img/pattern2.png) repeat;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
}

.container{
	text-align: center;
	padding-top: 100px;

}
hr{
	max-width: 600px;
	border-bottom: 1px solid orange;
	margin-bottom: 100px;
}
.quote-box{
	border: 1px dotted white;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 60px;
	min-height: 200px;
}
.vertical-middle{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

button{
	margin: 10px;
}

.text-muted{
	font-size: 130%;
}
